<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Шаг 5 - Приоритизация слов</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
    </script>
</head>
<body>
<div class="container my-5">
    <h1 class="mb-4 text-center">Приоритизация слов</h1>
    <div class="tab-pane container" id="change-order">
        <form action="/step5-1" method="post">
            <div class="d-flex justify-content-center">
                <div class="container text-center justify-content-center">
                    <h3>Перетаскивайте слова для того чтобы поставить их в нужном порядке</h3>
                    <br/>
                    <ul id="sortable" class="list-group">
                        {% for category in categories %}
                        <li class="list-group-item"><input name="{{ category }}" type="hidden">{{ category }}</li>
                        {% endfor %}
                    </ul>
                    <br/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" name="next-btn" id="next-btn">Далее</button>
                        <button type="submit" class="btn btn-secondary" name="reset-btn" id="reset-btn">Назад</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer class="bg-l ight py-3">
    <div class="container text-center">
        <div class="container text-center justify-content-center">
            <h6>Загруженные данные:</h6>
            <p> Название маски: {{ mask_name }}</p>
            <p>Оставшиеся фразы ({{after_delete}}):</p>
            <table class="table">
                {% for phrase in phrases %}
                <tr>
                    <th>{{phrase}}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</footer>
</body>
</html>